.wrapper {
    width: 18rem;
    margin: 0 auto;
}

.labelbg {
    background-color:Grey;
    font-size: 3rem;
    height: 5rem;
}

.dimNumber {
    color: rgb(225, 225, 225);
    font-size: 1.5rem;
}

.time-number {
    font-size: 1.5rem;
}

.clock-modal-body {
    padding: 0.5rem;
}

.clock-container {
    padding-left: 0px; 
    padding-right: 0px ;
}

/*.time-display {
    font-size: 2.5rem;
    height: 3rem;
}*/
::ng-deep.timeLabelhilight{ 
    
    background: #119cca;
    border: 1;
    padding-top: 2px;
    font-size: 2.1em;
    color: #FFFF;
    margin-top: 0.5rem;
    width: 1.6em;
    height: 1.6em;
}
::ng-deep.time-display {
    background: #6C757D;
    border: 1;
    padding-top: 2px;
    font-size: 2.1em;
    color: #FFFF;
    margin-top: 0.5rem;
    width: 1.6em;
    height: 1.6em;
}
.classpadding {
    padding: 15px;
}
.modal-dialog {
    top: 20%;
}

.bg-timedisplay {
    background: #6C757D;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
