.Long_delay_of_confirmation {

    background-image: url("/assets/images/epma/Long delay of confirmation.svg");
    background-size: contain
}

.Show_all_warnings {

    background-image: url("/assets/images/epma/Show all warnings.svg");
    background-size: contain
}
