.headerlabel {
    margin-top: 0.7em;
    margin-bottom: -10px;
  }

  .close-history {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAYdJREFUeNq0VdFtgzAQNVEH8AZtN+gGhQ2SDZoJyH+kJK3U75YJyAZlg5AJ8AiMwAb0jM7UPnzGNMqTLCQbv2ffvTsnfd+LJElECKePTwmfFzKtTod9F9o3cIcEgPgNPrmHfBSBUYDQeZEAEGvCMkBM0cLYgJCiAivm1JcF5BpPMBrc68C5AZ68Ebchg5vUkxBhIhs8jYFJomTIfOt67lkbgIZo5yHPcHQMuW9dItcAWyAnBNodChNHSToMhVkvyN7cEYDwpJ4wHE3SiMhIbpniSPZKmF/bN0iZGJceEUpeMnsHFz5EuEKLaIGz7fMZco1HmoMQvtBlzlxEbUQJmJhTJ3HuMrjaAu0M+RhzJvFsjRiBOoYcY15GitR/Nj3sW49IEXALFSk8rVw5vQhr4UJ+3BpCJgzcuu6s1aRdg8gPfNY3NrsKyDdcu97iI/JfKOtWk14k0IoZk/Q51D47s08mhGuHPUZG1Mk7EH8vfpMtB71iZabWaVsspop7/EeBe2Il7oxfAQYArevp53qUQ7cAAAAASUVORK5CYII=);
    width: 24px;
    height: 24px;
    margin-top: -3px;
    cursor: pointer;
}
.epma-history-image-section{
  width: 55px;
  padding: 10px;
}
.epma-history-data-section{
  width: auto;
  flex: 1;
  padding-left: 5px;
 
}
.epma-bule-label{
  color: #7891D8;
}
.epma-bold-text{
  
  line-height: 14px;
  color: #646464;
  font-weight: bold;
}
.epma-history-header-left {
  background-color: #f7f7f7;
  margin-left: -8px;
  padding: 5px;
}
.epma-history-header-right {
  background-color: #f7f7f7;
  margin-right: -8px;
  padding: 5px;
}
.epma-history-date-row {
  background: #f7f7f7;
  margin-left: -8px;
  margin-right: -8px;
  padding: 5px 5px 5px 10px;
}
.epma-history-time-row {
  width: 70px;
  padding: 5px 5px 5px 18px;
}
.epma-history-time-data-row {
  width: auto;
  max-width: auto;
  padding: 5px 5px 5px 5px;
  flex:1;
}
.epma-history-font {
  font-size: 13px;
}

/* ------- therapy type icon css ----------------*/
.therapy-type {
  background-size: 100%;
  width: 45px;
  height: 45px
}
.BasicFluids {
  background-image: url(/assets/images/epma/therapy/Basic_Fluids.svg);
}
.BloodProduct {
  background-image: url(/assets/images/epma/therapy/Blood_Product.svg);
}
.ContinuousInfusion {
  background-image: url(/assets/images/epma/therapy/Continuous_Infusion.svg);
}
.Infusion {
  background-image: url(/assets/images/epma/therapy/Infusion.svg);
}
.Inhalation {
  background-image: url(/assets/images/epma/therapy/Inhalation.svg);
}
.Injection {
  background-image: url(/assets/images/epma/therapy/Injection.svg);
}
.MentalHealth {
  background-image: url(/assets/images/epma/therapy/Mental_Health.svg);
}
.TabletorCapsule {
  background-image: url(/assets/images/epma/therapy/Tablet_Or_Capsule.svg);
}
.therapy {
  background-image: url(/assets/images/epma/therapy/Medication_Type_Not_Defined.svg);
}
