

.modal-body {
  /* 100% = dialog height, 120px = header + footer */
  max-height: calc(100% - 60px);
  overflow-y: auto;
}

.modal-dialog-centered {
  min-width: 60%;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
  height: 7px;
  -webkit-overflow-scrolling: auto;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
 
}

.enableBlur>* {
  /*filter: blur(1.2px);*/
  opacity: .94;
}

.disableBlur {
  filter: blur(0);
}

.modal-top  {
  top: 20%;
}

